{{>header}}
{{>navbar}}
    <main class="margen">
        <h4 CLASS="centrar">
            Esta pagina fue hecha por {{nombre}} del grupo {{grupo}}.
            <br>
            Usted esta viendo la página en el siguiente tiempo: {{fecha}}, la página se hizo el día {{fechaCreacion}}.
            <br>
            Espero le haya gustado esta fea página  M.S.I. {{docente}}
        </h4>
        <img src="images/fotitodecreditos.png" class="centrar">
    </main>
{{>footer}}